.cast-list-item {
	display: flex;
	align-items: center;
	padding: 15px 0;
	border-bottom: 1px solid #bfbfbf;
	height: 80px;
	&__article {
		display: flex;
		align-items: center;
		width: 100%;
		gap: 50px;
	}
	@media (max-width: 768px) {
		border-bottom: none;
	}
	&__wrapper {
		flex: 1;
	}
	&__img-wrapper {
		width: 50px;
		height: 50px;
		border-radius: 70%;
		background-color: #bfbfbf;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__img {
		height: 100%;
		width: 100%;
		border-radius: 50%;
		object-fit: cover;
	}
	&__details {
		display: flex;
		align-items: center;
		justify-content: space-between;

		flex: 9;
		@media (max-width: 768px) {
			align-items: start;
			flex-direction: column;
			gap: 0.5rem;
		}
	}

	&__name {
		font-weight: bold;
		flex: 2;
	}

	&__character {
		font-size: 12px;
		color: gray;
		flex: 1;
	}

	&__empty {
		font-size: 14px;
		color: #888;
	}
}
.account-icon {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #bfbfbf;
	display: flex;
	align-items: center;
	justify-content: center;

	&::after {
		content: "👤";
		font-size: 24px;
		color: white;
	}
}
