.app-layout {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.homepage__gray-background {
  position: absolute;
  width: 100%;
  height: 30vh;
  background-color: #e0e0e0;
  top: 0;

  @media (max-width: 767px) {
    position: static;
    height: auto;
  }
}
